# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Models & data (vor fi generate ulterior)
models/*.keras
models/*.json
data/

# firebase key
backend/app/config

# env val
.env